node_modules
dist
build
coverage
.vscode
**/service-worker.ts
**/serviceWorkerRegistration.ts
**/reportWebVitals.ts

build/*
public/*
docs/*
templates/*
src/react-app-env.d.ts
src/serviceWorker.ts

/*.js
/*.json